/*===== PORTFOLIO =====*/
.grid {
    display: grid;
    gap: 0.5rem;
}
.portfolio {
    z-index: 999;
}

.portfolio__nav {
    text-align: center;
    margin-bottom: 1.5rem;
}
.portfolio__item {
    margin: 0 1rem;
    cursor: pointer;
}

.portfolio__container {
    grid-template-columns: repeat(2, 1fr);
}
.portfolio__content {
    width: 350px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.3);
}
.portfolio__content:hover {
    box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.4);
}

.portfolio__data {
    padding: 1.5rem;
}

.portfolio__subtitle {
    font-size: 0.813rem;
}

.portfolio__title {
    font-size: 1.125rem;
    margin: 1rem 0;
}

.button-link {
    background: none;
    background: rgba(0, 255, 255, 0.507);
    padding: 0 0.5rem 0.2rem 0.5rem;
    transition: 0.4s;
    text-decoration: none;
    margin: 1rem;
}
.button-link:hover {
    background-color: rgba(0, 255, 255, 0.26);
}
