.headText {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--text-color);
  text-transform: capitalize;
}
.headText span {
  color: var(--accent-color);
}
.text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--text-color);
  line-height: 1.5;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0 2rem;
}
.filterItem {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--explorer-bg);
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.5rem;
}
.filterItem:hover {
  background-color: var(--button-bg);
  color: var(--text-color);
}
.active {
  background-color: var(--accent-color);
  color: var(--text-color);
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 2000px) {
  .filterItem {
    padding: 1rem 2rem;
    border-radius: 0.85rem;
  }
  .headText {
    font-size: 4rem;
  }
  .text {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 450px) {
  .headText {
    font-size: 1rem;
  }
  .card {
    width: 73vw;
  }
}
@media screen and (max-width: 300px) {
  .headText {
    font-size: 2rem;
  }
}
