.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectItem {
  width: 320px;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--explorer-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
}
.projectItem:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}
.img {
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
.projectHover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}
.projectHover div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 1rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}
.projectHover div svg {
  width: 50%;
  height: 50%;
  color: var(--text-color);
}
.content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.content h4 {
  margin-top: 1rem;
  line-height: 1.5;
}
.boldText {
  font-size: 1rem;
  font-weight: 800;
  color: var(--text-color);
  text-align: left;
}
.text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--text-color);
  line-height: 1.5;
}
.tag {
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--explorer-bg);
  color: var(--text-color);
  top: -25px;
}

@media screen and (min-width: 2000px) {
  .projectItem {
    width: 100%;
    margin: 1rem;
  }
  .img {
    height: 350px;
  }
  .text {
    font-size: 1.75rem;
  }
  .boldText {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .projectItem {
    margin: 0;
  }
}
@media screen and (max-width: 300px) {
  .projectItem {
    width: 470px;
    padding: 1.25rem;
    border-radius: 0.75rem;
  }
  .boldText {
    font-size: 0.9rem;
  }
}
