/*==================== SKILLS ====================*/
.b-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.skills__box {
    z-index: 999;
}
.skills__container {
    row-gap: 2rem;
}
.skills__subtitle {
    margin-bottom: 1.5rem;
}
.skills__name {
    display: inline-block;
    font-size: 0.875rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    background: linear-gradient(#ff075aa8, #0e1538b9, #0e1538c0, #1aff22c5);
    border-radius: 0.25rem;
    transition: 0.4s;
}
.skills__name:hover {
    background: linear-gradient(45deg, #00ccffc0, #0e1538b7, #0e1538, #d400d4b9);
}
