@import url("https://use.typekit.net/jmk3xov.css");

:root {
    --dark-bg: rgba(15, 15, 15, 0.5);
    --spacing: 350px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 100vw;
    color: white;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*==================== Header ====================*/
.home {
    position: relative;
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: var(--spacing);
}
.title {
    padding: 0.2rem;
    margin: 0;
}
.subtitle {
    font-family: elevon, sans-serif;
    font-style: normal;
    padding: 0.2rem;
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(6, 255, 6, 0.9);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

section h2 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.section__title {
    margin-left: 1rem;
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: rgb(226, 226, 226);
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.left {
    grid-column: 6 / 12;
}

blockquote .social__icons {
    position: relative;
    background: var(--dark-bg);
    width: 390px;
    padding: 1rem;
    z-index: 999;
}

a {
    color: inherit;
    cursor: pointer;
}

.social__icons .social__icon {
    padding: 0.1rem 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.social__icon:hover {
    color: rgba(10, 252, 10, 0.9);
}

/*==================== About ====================*/
.about__button-container {
    display: flex;
    justify-content: center;
}

.about__button {
    padding: 0.5rem;
    transition: 0.5s;
    margin: 1rem;
    position: relative;
    width: 180px;
    height: 30px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    z-index: 999;
}

.about__button::before,
.about__button::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: 0.5s;
    background: linear-gradient(45deg, #ff075b, #0e1538, #0e1538, #1aff22);
}
.about__button:hover:before {
    inset: -3px;
}
.about__button:hover:after {
    inset: -3px;
    filter: blur(10px);
}
.about__button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #0e1538;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border: 1px solid #040a29;
    overflow: hidden;
}

.about__button span::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}

.about__button-icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

/*===== SCROLL TOP =====*/
.scroll__top {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: rgba(123, 111, 113, 0.507);
    border-radius: 0.5rem;
    z-index: 999;
    transition: 0.4;
    visibility: hidden;
    cursor: pointer;
}
.scroll__top:hover {
    background: rgba(10, 252, 10, 0.9);
}

.scroll__top-icon {
    font-size: 1.5rem;
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .home {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    section {
        padding: 0.5rem;
        font-size: 1rem;
    }

    blockquote {
        grid-column: 1 / span 9;
    }

    blockquote p {
        font-size: 2rem;
    }

    blockquote .social__icons {
        width: 245px;
    }

    .social__icons .social__icon {
        padding: 0.1rem 0.2rem;
        font-size: 1.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 360px) and (max-width: 568px) {
    blockquote .social__icons {
        width: 300px;
    }

    .social__icons .social__icon {
        padding: 0.1rem 0.3rem;
        font-size: 1.7rem;
    }
}

/* For large devices */
@media screen and (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
