@import url("https://use.typekit.net/jmk3xov.css");

:root {
    --dark-bg: rgba(15, 15, 15, 0.5);
    --spacing: 350px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    width: 100px;
    color: white;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0px auto;
    padding: 120px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.icons {
    position: relative;
    background: var(--dark-bg);
    padding: 1rem;
}
.icons a {
    color: inherit;
}
.icons .icon {
    padding: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons .icon:hover {
    box-shadow: 0 0 15px 3px rgba(1, 255, 43, 0.8);
}

@media screen and (max-width: 1024px) {
    .navbar {
        width: 60px;
    }
    .icons {
        padding: 0.5rem;
    }
    .icons .icon {
        padding: 0.2rem;
        font-size: 1.5rem;
    }

    .icon.earth {
        display: none;
    }
}
