* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #101535;
}

.canvas {
    background-color: #020714;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.particle {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

#tsparticles {
    height: 100%;
    width: 100%;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00ccff77, #1aff22);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #1aff22, #00ccff77);
}
