* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #232741;
}

.canvas {
    background-color: #020714;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.particle {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

#tsparticles {
    height: 100%;
    width: 100%;
}
