.user {
  background: var(--secondary-bg);
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 1.5rem;
}

.user > div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--accent-color);
  padding: 0 1rem;
  height: 100%;
}

.user > div:last-child {
  border-right: none;
}

.username {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.container > p {
  padding: 1rem;
}

.title {
  margin-bottom: 1.5rem;
}

.contributions article {
  width: 100% !important;
}

@media screen and (max-width: 2000px) {
  .container > a > img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: block;
  }
  .user h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .user h3 {
    font-size: 14px;
  }
  .username {
    display: none;
  }
  .container > h1 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  .container > img,
  .container > a > img {
    width: 95%;
  }
}
